body{
    font-family: 'Days', sans-serif;
    text-transform: uppercase;
    background:white;
}
@font-face { font-family: 'Days'; src: url('fonts/Days-webfont.eot'); src: url('fonts/Days-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Days-webfont.woff') format('woff'), url('fonts/PTF55F-Days-webfont.ttf') format('truetype'), url('fonts/Days-webfont.svg#PTSerifRegular') format('svg'); font-weight: normal; font-style: normal; }
#pollContainer{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 500px;
    padding-bottom:1em;
}
.voteButton {
    height: 68px;
    width: 164px;
    text-indent: -9999px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -82px;
    background: url(../img/btn_vote.png) no-repeat;
    background-position: center 0;
}
.voteButton:hover {
    background-position: center -68px;
}
.voteButton:active {
    background-position: center -136px;
}
.voteItem{
    width: 230px;
    height: 14.5em;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 60px 10px 20px;
    background-color: #eee;
    display:inline-block;
    text-align:center;
    vertical-align:top;
}
.voteItem img{
    margin:auto;
    display:inline-block;
}
.votes {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    color: #ddd;
    position: relative;
}
.votes:before, .votes:after {
content: attr(title);
position: absolute;
left: 72px;
}
.votes:before { top: 1px; color: #aaa; }
.votes:after  { top: 2px; color: rgba(255,255,255,.6); }
.votes span.votesNumber {
    display: block;
    margin-top: 20px;
    font-size: 60px;
    text-shadow: 0 -1px 1px #999;
}
#voteItem_0 span.votesNumber {
    color: #00ade9;
}
#voteItem_1 span.votesNumber {
    color: #aa1480;
}
#voteItem_2 span.votesNumber {
    color: #f08100;
}
#voteItem_3 span.votesNumber {
    color: #53b034;
}
 
 
hr{
    display: none;
}
.textImageContainer{
    position: absolute;
    top: -48px;
}